/* font-family: 'Roboto', sans-serif; */
/* <span class="material-symbols-outlined">
search
</span> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

iframe {
  max-width: 100%;
  padding: 1rem;
}

.video {
  min-width: 100%;
  max-width: 100%;
  min-height: 600px;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-size: 2.5rem;
}

ul li {
  list-style: none;
}

nav {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
}

p {
  text-align: center;
}

header {
  background-color: lightgreen;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  gap: 1;
  position: sticky;
}
header form {
  display: none;
}

@media (min-width: 600px) {
  header {
    display: grid;
    grid-template-columns: repeat 2, 1fr;
    grid-template-rows: 70px;
  }
  header form {
    display: inline-block;
    grid-column: 4;
    justify-self: end;
  }
  header form nav {
    grid-column: 4;
  }
  header form nav h1 {
    justify-self: start;
  }
}
@media (min-width: 1200px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
footer {
  background-color: lightgreen;
  padding: 1rem;
}

@media (min-width: 600px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400px;
  color: chocolate;
}
a:hover {
  text-shadow: 0px 0px 2px;
  color: greenyellow;
}

.inicio {
  text-decoration: none;
  color: darkgreen;
}
.inicio:hover {
  text-shadow: 0px 0px 10px;
  color: darkgreen;
}

span {
  font-weight: bold;
}

.galeria-index, .galeria-catalogo {
  padding: 1rem;
}

.t-galeria-index {
  text-align: center;
  margin-bottom: 1rem;
}

.contenedor-galeria img, .contenedor-c img {
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .contenedor-galeria, .contenedor-c {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(200px, 35vh));
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .contenedor-galeria, .contenedor-c {
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
  }
  .imagen-destacada {
    grid-column: span 1;
    grid-row: span 2;
  }
}
.contenedor-mq img, .contenedor-b img, .contenedor-mn img {
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .contenedor-mq, .contenedor-b, .contenedor-mn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(150px, 35vh));
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .contenedor-mq, .contenedor-b, .contenedor-mn {
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
  }
  .imagen-m1 {
    grid-row: 1;
  }
  .imagen-m2 {
    grid-row: 1;
  }
}

/*# sourceMappingURL=style.css.map */
