/* font-family: 'Roboto', sans-serif; */
/* <span class="material-symbols-outlined">
search
</span> */
$bg-color: lightgreen;
$color-link: darkgreen;
$altura-ancho: 100%;
$ta: center;
$gr: 1;

$colores-redes: (
    instagram: red,
    facebook: blue,
    tiktok: black
);


@mixin mq-tablet {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin mq-desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: $ta;
}

img {
    max-width: $altura-ancho;
    max-height: $altura-ancho;
    object-fit: cover;
}

iframe {
    max-width: $altura-ancho;
    padding: 1rem;
}

.video {
    min-width: $altura-ancho;
    max-width: $altura-ancho;
    min-height: 600px;

}

h1, h2 {
    .cinzel{
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
    }
    
    font-size: 2.5rem;

}
ul li {
    list-style: none;
}


nav {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}


p {
    text-align: $ta;
}