header {
    background-color: $bg-color;
    padding: 1rem;
    align-items: center;
    gap: 1;
    position: sticky;

    form {
        display: none;
    }
}


@include mq-tablet {
    header {
        display: grid;
        grid-template-columns: repeat 2, 1fr;
        grid-template-rows: 70px;


        form {
            display: inline-block;
            grid-column: 2;
            justify-self: end;

            ul {
                display: flex;
                grid-column: span 2;


                h1 {
                    justify-self: start;
                }
            }
        }
    }
}

@include mq-desktop {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}